.git
.gitignore
.env
.env.production
.env.example
.env.backup
/node_modules
/vendor
/public/build
/public/hot
.DS_Store
.vscode
.idea
.phpactor.json
.phpunit.cache
.phpunit.result.cache
*.log
storage/logs/*
!storage/logs/.gitkeep
README.md
Dockerfile
.dockerignore
docker-compose.yml
